.footer {

    &__content {
        position: relative;
        background: url("../media/footermtns.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 250px 10px 100px 10px;

        @include mobileM {
            padding: 250px 20px 100px 20px;
        }

        @include mobileL {
            padding: 250px 40px 100px 40px;
        }

        &__text-box {


            &__title {
                font: 400 30px/30px 'Permanent Marker';
                color: #f1f1f1;

                @include mobileM {
                    font-size: 32px;
                }

                span {
                    display: block;

                    @include mobileL {
                        display: inline-block;
                    }
                }
            }

            &__desc {
                margin: 10px 0 40px 0;
                font: 400 16px/21px 'Roboto';
                max-width: 260px;
                color: #d3d3d3;

                @include mobileM {
                    max-width: 290px;
                    font-size: 17px;
                }

                
                @include mobileL {
                    max-width: 320px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            &__cta {
                padding: 10px 20px;
                border-radius: 50px;
                background: #7CAE7A;
                color: #f1f1f1;
                text-transform: capitalize;
            }
        }
    } // content styles end

    &__nav {
        padding: 20px 10px 10px 10px;

        @include mobileM {
            padding: 20px 20px 10px 20px;
        }

        @include mobileL {
            padding: 20px 40px 10px 40px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;

            &__links {
                display: inline-block;
                margin: 5px 10px 5px 0;
                padding: 5px 10px;
                border-radius: 50px;
                background: #7CAE7A;
                color: #f1f1f1;
                text-transform: capitalize;
            }
        }
    } // footer nav styles end

    &__contact {
        padding: 0 10px 20px 10px;

        @include mobileM {
            padding: 0 20px 20px 20px;
        }

        @include mobileL {
            padding: 0 40px 20px 40px;
        }

        &__list {
            display: flex;

            &__links {
                margin: 5px 10px 5px 0;

                img {
                    height: 45px;
                    width: 45px;
                }
            }
        }
    }

    &__bottom {
        background: #222;
        text-align: center;
        padding: 10px;

        &__title {
            color: #d3d3d3;
            text-transform: capitalize;
        }
    }
} // footer styles end