.header {
    position: relative;
    background: linear-gradient(200deg, rgba(256,256,256, 0) 30%, rgba(0,0,0, .4) 60%), url("../media/planeview2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;

    @include tablet {
        margin-bottom: 200px;
    }

    @include laptopL {
        margin-bottom: 250px;
    }

    &__call-box {
        text-align: center;
        padding: 10px 0;

        &__number {
            font-size: 14px;
            color: #545454;
        }
    }

    &__call-box--color {
        background: $green;
        
        &__number {
            color: #f1f1f1;
        }
    }

    // nav styles start
    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;

        @include mobileM {
            padding: 20px;
        }

        @include tablet {
            padding: 40px;
        }

        &__logo {
            height: 60px;

            @include tablet {
                height: 80px;
            }
        }

        // menu styles start
        &__menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 55px;
            width: 100px;
            padding: 0 10px;
            border-radius: 50px;
            border: 1px solid #fff;

            @include tablet {
                border: 2px solid #fff;
            }

            &--color {
                border: 2px solid $green; 
            }

            &__text {
                font: 400 16px/16px 'Permanent Marker';
                color: #e5e5e5;

                &--color {
                    color: #646464;
                }
            }

            &__icon {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &__icon__bar {
                height: 4px;
                width: 30px;
                border-radius: 50px;
                background: #fff;

                &--color {
                    background: $green;
                }
            }
        } // menu styles end 

        // list styles start
        &__list {
            background: $green;
            position: absolute;
            z-index: 1000;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            padding: 50px 10px;
            visibility: hidden;
            opacity: 0;
            transition: opacity .5s;

            @include mobileM {
                padding: 50px 20px;
            }

            @include tablet {
                padding: 50px 40px;
            }

            &:target {
                visibility: visible;
                opacity: .98;
            }

            &__links {
                display: block;
                padding: 20px 0;
                color: #fff;

                &:visited {
                    color: #fff;
                }
            }
        }

    } // nav styles end 

    // content styles start
    &__content {
        padding: 60px 10px 0 10px;

        @include mobileM{
            padding: 60px 20px 0 20px;
        }

        @include tablet {
            padding: 60px 40px 0 40px;
        }

        @include laptopL {
            padding: 60px 120px 0 120px;
        }

        &__title {
            font: 400 36px/.7 'Permanent Marker';
            color: #f1f1f1;

            @include mobileL {
                font-size: 42px;
            }

            @include tablet {
                font-size: 50px;
            }

            @include laptop {
                font-size: 64px;
            }

            @include laptopL {
                font-size: 76px;
            }

            span {
                display: block;
            }
        }

        &__desc {
            padding: 10px 0 40px 0;
            font: 400 16px/1.4 'Roboto';
            max-width: 280px;
            color: #d3d3d3;

            @include mobileM {
                font-size: 17px;
                max-width: 300px;
            }

            @include mobileL {
                font-size: 18px;
                max-width: 370px;
            }

            @include laptop {
                padding: 20px 0 60px 0;
                font-size: 22px;
                max-width: 400px;
            }
        }

        &__cta {
            padding: 10px 20px;
            border-radius: 50px;
            background: $green;
            color: #f1f1f1;
            text-transform: capitalize;

            @include laptop {
                font-size: 18px;
            }

            @include laptopL {
                font-size: 20px;
            }
        }
    }

    &__gallery {
        position: relative;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        overflow-x: hidden;

        &__img {
            height: 150px;
            object-fit: cover;
            width: 100%;

            @include tablet {
                height: 200px;
            }

            @include laptop {
                height: 250px;
            }

            @include laptopL {
                height: auto;
            }
        }
    }
}
