.ticket {
    background-image: url("../media/topography.png");
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

    @include mobileM {
        margin: 0 20px;
    }

    @include mobileL {
        margin: 0 40px;
    }

    &__top {
        display: flex;
        align-items: center;
        padding: 10px;

        &__plane {
            height: 25px;
            width: 25px;
            transform: rotateZ(90deg);
        }

        &__title {
            font-size: 16px;
            text-transform: capitalize;
            margin-left: 10px;
        }
    }

    &__body {
        overflow: hidden;
        background: #fff;
        padding: 20px 10px 40px 10px;
        background-image: linear-gradient(to right, #d8d8d8 66%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }

    &__body__company {
        position: relative;
        z-index: 10;
        font: 500 30px/34px 'Roboto Condensed';
        text-transform: capitalize;
    }

    &__body__flight {
        position: relative;
        margin: 40px 0;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: flex-end;

        @include mobileM {
            margin: 50px 0;
        }

        @include mobileL {
            margin: 60px 0;
        }

        &__content {
            margin-bottom: 5px;

            &__title {
                margin-bottom: 2px;
                text-transform: capitalize;
                font-weight: bold;
                
            }

            &__desc {
                text-transform: uppercase;
                color: #545454;
            }
        }

        &__qr {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            img {
                height: 80px;
            }
        }

        &__map {
            opacity: .3;
            height: 150px;
            position: absolute;
            right: -90px;
            top: -40px;

            @include mobileL {
                top: -30px;
            }
        }
    }

    &__body__content {

        &__title {
            margin-bottom: 2px;
            text-transform: capitalize;
            font-weight: bold;
        }

        &__desc {
            color: #545454;
        }
    }

    &__bottom {
        padding: 40px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__logo {
            width: 100px;
            opacity: .4;
        }

        &__barcode {
            margin-top: 20px;
            font: normal 25px/25px 'Libre Barcode 128 Text';
        }
    }
}