// variable colors
$green: #7CAE7A;

// variable media queries 
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

// mixins media queries
@mixin mobileM {
    @media (min-width: #{$mobileM}) {
        @content;
    }
}

@mixin mobileL {
    @media (min-width: #{$mobileL}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin laptopL {
    @media (min-width: #{$laptopL}) {
        @content;
    }
}